.checkbox-list{position:relative}
.info_more{ display: block;
    position: absolute;
    right: 0px;}
table.list .info_more a{  border: 1px solid #ccc;
    color: #444;
    float: left;
    font-size: 12px;
    padding: 1px 2px 1px 5px;
    width: 47px;
		text-decoration: none;
}

html body table.list .trbg{
	background-color: #f8f8f8;
}
html body .grid .gridTbody .selected{
	background-color: #f8f8f8;
}

.btnDel:hover{cursor: pointer;}	
	
.info_more a.opened i{
	background-position:4px -27px;
}
.info_more a.opened:hover i{
	background-position:4px -45px;
}
.info_more a:hover i{
	background-position:4px -11px;
}

table.list .info_more  a:hover{
color:#e4393c

}
.info_more a i{
	background:rgba(0, 0, 0, 0) url("../img/search.ele.png") no-repeat scroll 4px 7px;
	display: block;
    height: 20px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 20px;
}

.checkbox-list{
	overflow: hidden;
    position: relative;
	height:40px;
	
}